* {
  background-color: black;
  font-family: Helvetica;
  opacity: 0.9;
  color: seashell;
}

/*Heading */

.heading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  padding-left: 10px;
  border-bottom: 1px solid seashell;
}

#logo {
  flex: 0 1 auto;
  max-height: 50px;
}

.navagation {
  flex: 0 1 auto;
}

.nav-link {
  /*color: seashell;*/
  font-size: 22px;
  text-decoration: underline;
  padding-right: 15px;
}

/*Mission */

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-image: url("file:///Users/christineskorenko/Documents/Projects/TeaCozy/resources/images/img-mission-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

#our-mission {
  background-color: black;
  opacity: 1;
  width: 1200px;
  text-align: center;
}

/*Tea of the Month*/
.tea-of-month {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  line-height: 4px;
  padding-top: 50px;
  overflow-y: auto;
}

#teas {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 1000px;
  padding-top: 20px;
}

.tea-flavors {
  width: 300px;
  height: 200px;
  padding: 10px 15px;
}

/*Locations */

.locations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 500px;
  width: 1200px;
  background-image: url("file:///Users/christineskorenko/Documents/Projects/TeaCozy/resources/images/img-locations-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

#location {
  display: flex;
  flex-flow: row;
  width: 300px;
  background-color: black;
  opacity: 1;
}
