* {
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 23px;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h5 {
  font-size: 11px;
  color: white;
}

p {
  font-size: 14px;
}

img {
  width: 5%;
}

.header {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.footer {
  display: flex;
  align-items: center;
  background-color: dimgray;
  background-size: contain;
  margin: auto;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

#top-nav {
  margin: 0px;
  padding: 0px;
}

#top-nav li {
  list-style-type: none;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  font-size: 18px;
}

#footer-nav {
  margin: auto;
  padding-left: 10px;
}

#footer-nav li {
  list-style-type: none;
  font-size: 18px;
  display: inline-block;
}

a:link {
  color: white;
}
